vp-services/src/main/app/services/PingService-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.mulesoft.org/schema/mule/core	http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
        http://www.mulesoft.org/schema/mule/http    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/cxf     http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
	" >

    <flow name="PingService-flow" >
        <inbound-endpoint address="http://${TP_HOST}:${PINGSERVICE_PORT}/${PINGSERVICE_INBOUND_URI}"
            connector-ref="VPInsecureConnector" />

		<scripting:component>
			<scripting:script engine="Groovy">
				<scripting:text><![CDATA[
// Initialize logical-address and a test requet
def la = new org.w3.wsaddressing10.AttributedURIType()
la.value = "${PINGSERVICE_TEST_LOGICAL_ADDRESS}"
def req = new se.riv.itinfra.tp.pingresponder.v1.PingRequestType()
req.pingIn = "test-request" 
[la, req] as Object[]
				]]></scripting:text>
			</scripting:script>
		</scripting:component>
        

<!-- 
            connector-ref="VPInsecureConnector"
 -->
        <outbound-endpoint 
            connector-ref="VPConsumerConnector"
            address="${PINGSERVICE_TEST_URL}"
            responseTimeout="${PINGSERVICE_TEST_TIMEOUT_MS}"
            exchange-pattern="request-response"
            transformer-refs="logReqOut">
            <cxf:jaxws-client 
                port="PingResponderPort" 
                operation="ping" 
                clientClass="se.riv.itinfra.tp.ping.v1.rivtabp20.PingResponderService"
                wsdlLocation="classpath:/schemas/PingInteraction_1.0_rivtabp20.wsdl"
            />
        </outbound-endpoint>

        <scripting:component>
            <scripting:script engine="Groovy">
                <scripting:text><![CDATA[
payload.pingUt
                ]]></scripting:text>
            </scripting:script>
        </scripting:component>

        <transformer ref="logRespIn"/>
        
        <expression-transformer>
            <return-argument
                evaluator="string"
                expression="${PINGSERVICE_RESPONSE}" />
        </expression-transformer>


        <catch-exception-strategy>
            <!-- set http return status = 500 + payload = error... -->
	        <scripting:component>
	            <scripting:script engine="Groovy">
	                <scripting:text><![CDATA[
" - Code: " + message.exceptionPayload.code + 
"\n - Exception: " + message.exceptionPayload.exception + 
"\n - RootException: " + message.exceptionPayload.rootException + 
"\n - Error message: " + message.exceptionPayload.message +
"\n - Info: " + message.exceptionPayload.info + 
"\n"
	                ]]></scripting:text>
	            </scripting:script>
	        </scripting:component>
            
            <logger level="ERROR" message="${PINGSERVICE_ERROR_RESPONSE} #[payload]" />
            <set-property propertyName="http.status" value="500"/>
            <set-payload value="${PINGSERVICE_ERROR_RESPONSE} #[payload]"/>
        </catch-exception-strategy>
    </flow>

</mule>