vp-services/src/main/app/services/VagvalRouter-service.xml
<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2013 Center for eHalsa i samverkan (CeHis).
    							<http://cehis.se/>

    This file is part of SKLTP.

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

-->
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
		http://www.mulesoft.org/schema/mule/core 	http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/cxf 	http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd" >

    <flow name="vagval-dynamic-routing-flow" >
    
    	<custom-transformer class="se.skl.tp.vp.vagvalrouter.CheckSenderIdTransformer" doc:name="Check SenderId exist in incoming http request, put in session variable">
    		<spring:property name="senderIdPropertyName" value="${VAGVALROUTER_SENDERID}" />
            <spring:property name="whiteList" value="${IP_WHITE_LIST}" />
    	</custom-transformer>
    
    	<!-- Save the http header x-rivta-original-serviceconsumer-hsaid in session-property originalServiceconsumerHsaid -->
    	<set-session-variable variableName="originalServiceconsumerHsaid" value="#[message.inboundProperties.get('x-rivta-original-serviceconsumer-hsaid')]" 
    		doc:name="Save x-rivta-original-serviceconsumer-hsaid"/>
   
        <transformer ref="createCorrId" />
        <transformer ref="XmlToXSR" />
        <transformer ref="rivExtractor" />
  		<transformer ref="logReqIn" />
        <transformer ref="rivTransformer" />
        
        <cxf:proxy-client payload="envelope" />

        <custom-processor class="se.skl.tp.vp.vagvalrouter.VagvalRouter" >

            <spring:property
                name="vagvalAgent"
                ref="vagvalAgent" />

			<!-- Default value for response timeout is set in VagvalRouter -->
            <spring:property
                name="responseTimeout"
                value="${SERVICE_TIMEOUT_MS}" />

        </custom-processor>
              
        <response>
            <transformer ref="exceptionTransformer" />
            <object-to-string-transformer /> 
            <transformer ref="logRespOut" />
        </response>
        
        <custom-exception-strategy class="se.skl.tp.vp.util.VPExceptionStrategy" >
			<spring:property name="jaxbObjectToXml"  ref="objToXml"/>
        </custom-exception-strategy>
        
    </flow>

</mule>