vp-supervisor/src/main/resources/services/pingMonitor-service.xml
<?xml version="1.0" encoding="utf-8"?>
<!--  Invokes active monitoring endpoints, to check if the producer is up and running  -->
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:https="http://www.mulesoft.org/schema/mule/https"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xsi:schemaLocation="            
    			http://www.springframework.org/schema/beans	  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd                                                                                                                                                                                                      
                http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd                          
        		http://www.mulesoft.org/schema/mule/vm        http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd                                 
                http://www.mulesoft.org/schema/mule/cxf       http://www.mulesoft.org/schema/mule/cxf/3.3/mule-cxf.xsd                       
        		http://www.mulesoft.org/schema/mule/https     http://www.mulesoft.org/schema/mule/https/3.3/mule-https.xsd                           
    " >

    <flow name="pingMonitor-flow" >

        <vm:inbound-endpoint
            exchange-pattern="request-response"
            path="${ACTIVELOGTRIGGER_OUT_VM_QUEUE}"
            />

        <custom-transformer class="se.skl.tp.vp.supervisor.transformer.PingForConfigurationTypeTransformer" />

        <cxf:jaxws-client
            clientClass="se.skl.itintegration.monitoring.v1.PingForConfigurationResponderService"
            operation="PingForConfiguration"
            port="PingForConfigurationResponderPort"
            wsdlLocation="classpath:schemas/interactions/PingForConfigurationInteraction/PingForConfigurationInteraction_1.0_RIVTABP21.wsdl" />

        <!--
      Due to a bug http://www.mulesoft.org/jira/browse/MULE-5379 we can't use host, port, path attribute. Change when                     
      bug is fixed in Mule 3.3
        -->

        <https:outbound-endpoint
            address="https://#[header:INBOUND:host]:#[header:INBOUND:port]#[header:INBOUND:path]"
            connector-ref="VPConsumerConnector"
            exchange-pattern="request-response"
            responseTimeout="${SERVICE_TIMEOUT_MS}"
            responseTransformer-refs="exceptionTransformer monitorLogResponse"
            transformer-refs="createCorrId monitorLogRequest" >
        </https:outbound-endpoint>
        
        <custom-exception-strategy class="se.skl.tp.vp.util.VPExceptionStrategy" >
			<spring:property name="jaxbObjectToXml"  ref="objToXml"/>
        </custom-exception-strategy>
  </flow>

</mule>
